<div class="home">
  <ion-content>
    <div class="home__intro-page">
      <div class="home__intro-page__container ion-padding">
        <ion-header>
          <ion-toolbar slot="start">
            <ion-title slot="start" size="large">Logo</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-text
          color="white"
          class="home__intro-page__container__intro-title"
        >
          <h1>Discover the magic of our surprise box</h1>
        </ion-text>
        <ion-text color="white" class="home__intro-page__container__intro-desc">
          <p>
            Unleash your child's curiosity with our educational subscription box
            filled with fun and learning.
          </p>
        </ion-text>
        <ion-button class="home__intro-page__container__subscribe-now">
          Subscribe Now
        </ion-button>

        <ion-img
          class="home__intro-page__container__intro-home-bg"
          src="assets/bg/home-bg.png"
          alt="bg home"
        >
        </ion-img>
      </div>
      <div class="home__discover">
        <div class="home__discover__intro">
          <ion-title size="small">Discover </ion-title>
          <ion-text size="large"
            >How It Works: Subscribe and Receive Your Surprise Box</ion-text
          >
          <ion-text size="small"
            >Subscribe to our surprise subscription box and give your child the
            gift of learning. Each month, we curate a box filled with
            educational materials tailored to your child's age and
            interests.</ion-text
          >
        </div>
        <div class="home__discover__steps-to-subscribe">
          <div class="home__discover__steps-to-subscribe__cards">
            <div class="home__discover__steps-to-subscribe__cards__card">
              <div class="flex-vertical">
                <ion-img
                  class="home__discover__steps-to-subscribe__icon"
                  src="assets/icon/customize.png"
                  alt="bg home"
                ></ion-img>
                <div class="home__discover__steps-to-subscribe__text-title">
                  <ion-text
                    class="home__discover__steps-to-subscribe__text-title__title"
                    size="large"
                  >
                    Step 1:
                  </ion-text>
                  <ion-text
                    class="home__discover__steps-to-subscribe__text-title__title-two"
                    size="large"
                  >
                    Subscribe</ion-text
                  >
                </div>
                <ion-text
                  size="small"
                  class="home__discover__steps-to-subscribe__desc"
                  >Select a subscription plan that suits your child's learning
                  needs and preferences.
                </ion-text>
              </div>
            </div>
            <div class="home__discover__steps-to-subscribe__cards__card">
              <div class="flex-vertical">
                <ion-img
                  class="home__discover__steps-to-subscribe__icon"
                  src="assets/icon/subscribe-one.png"
                  alt="bg home"
                ></ion-img>

                <div class="home__discover__steps-to-subscribe__text-title">
                  <ion-text
                    class="home__discover__steps-to-subscribe__text-title__title"
                    size="large"
                  >
                    Step 2:
                  </ion-text>
                  <ion-text
                    class="home__discover__steps-to-subscribe__text-title__title-two"
                    size="large"
                  >
                    Personalise Your Box
                  </ion-text>
                </div>
                <ion-text
                  size="small"
                  class="home__discover__steps-to-subscribe__desc"
                  >Tell us about your child's age, interests, and learning
                  goals, and we'll customize their surprise box accordingly.
                </ion-text>
              </div>
            </div>
            <div class="home__discover__steps-to-subscribe__cards__card">
              <div class="flex-vertical">
                <ion-img
                  class="home__discover__steps-to-subscribe__icon"
                  src="assets/icon/surprise.png"
                  alt="bg home"
                ></ion-img>
                <div class="home__discover__steps-to-subscribe__text-title">
                  <ion-text
                    class="home__discover__steps-to-subscribe__text-title__title"
                    size="large"
                  >
                    Step 3:
                  </ion-text>
                  <ion-text
                    class="home__discover__steps-to-subscribe__text-title__title-two"
                    size="large"
                  >
                    Receive Your Surprise Box
                  </ion-text>
                </div>
                <ion-text
                  size="small"
                  class="home__discover__steps-to-subscribe__desc"
                  >Sit back and relax as your child eagerly awaits the arrival
                  of their monthly surprise box filled with engaging learning
                  materials.
                </ion-text>
              </div>
            </div>
          </div>

          <ion-button class="home__discover__steps-to-subscribe__subscribe-now">
            Subscribe Now
          </ion-button>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="links">
        <ion-item lines="none">Privacy Policy</ion-item>
        <ion-item lines="none">Terms of Service</ion-item>
        <ion-item lines="none">Cookies Settings</ion-item>
      </div>
      <div class="copy-rights">
        <ion-text> © 2023 MyEdu. All rights reserved. </ion-text>
      </div>
    </div>
  </ion-content>
</div>
