<div class="home">
  <ion-content>
    <div class="home__intro-page">
      <div class="home__intro-page__container ion-padding">
        <ion-header>
          <ion-toolbar slot="start">
            <ion-title slot="start" size="large">Logo</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-text
          color="white"
          class="home__intro-page__container__intro-title"
        >
          <h1>Discover the magic of our surprise box</h1>
        </ion-text>
        <ion-text color="white" class="home__intro-page__container__intro-desc">
          <p>
            Unleash your child's curiosity with our educational subscription box
            filled with fun and learning.
          </p>
        </ion-text>
        <ion-button class="home__intro-page__container__subscribe-now">
          Subscribe Now
        </ion-button>

        <ion-img
          class="home__intro-page__container__intro-home-bg"
          src="assets/bg/home-bg.png"
          alt="bg home"
        >
        </ion-img>
      </div>
      <div class="home__discover">
        <div class="home__discover__intro">
          <ion-title size="small">Discover </ion-title>
          <ion-text size="large"
            >How It Works: Subscribe and Receive Your Surprise Box</ion-text
          >
          <ion-text size="small"
            >Subscribe to our surprise subscription box and give your child the
            gift of learning. Each month, we curate a box filled with
            educational materials tailored to your child's age and
            interests.</ion-text
          >
        </div>
        <div class="home__discover__steps-to-subscribe">
          <ion-grid>
            <ion-row size="4" size-sm="12">
              <ion-col size-sm="12">
                <div class="flex-vertical">
                  <ion-img
                    class="home__discover__steps-to-subscribe__icon"
                    src="assets/icon/subscribe-one.png"
                    alt="bg home"
                  ></ion-img>
                  <ion-title
                    class="home__discover__steps-to-subscribe__title"
                    size="large"
                  >
                    Step 1:
                  </ion-title>
                  <ion-text
                    class="home__discover__steps-to-subscribe__title-two"
                    size="large"
                  >
                    Subscribe</ion-text
                  >
                  <ion-text
                    size="small"
                    class="home__discover__steps-to-subscribe__desc"
                    >Select a subscription plan that suits your child's learning
                    needs and preferences.
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
            <ion-row size="4" size-sm="12">
              <ion-col size-sm="12">
                <div class="flex-vertical">
                  <ion-img
                    class="home__discover__steps-to-subscribe__icon"
                    src="assets/icon/subscribe-one.png"
                    alt="bg home"
                  ></ion-img>
                  <ion-title
                    class="home__discover__steps-to-subscribe__title"
                    size="large"
                  >
                    Step 1:
                  </ion-title>
                  <ion-text
                    class="home__discover__steps-to-subscribe__title-two"
                    size="large"
                  >
                    Subscribe</ion-text
                  >
                  <ion-text
                    size="small"
                    class="home__discover__steps-to-subscribe__desc"
                    >Select a subscription plan that suits your child's learning
                    needs and preferences.
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
            <ion-row size="4" size-sm="12">
              <ion-col>
                <div class="flex-vertical">
                  <ion-img
                    class="home__discover__steps-to-subscribe__icon"
                    src="assets/icon/subscribe-one.png"
                    alt="bg home"
                  ></ion-img>
                  <ion-title
                    class="home__discover__steps-to-subscribe__title"
                    size="large"
                  >
                    Step 1:
                  </ion-title>
                  <ion-text
                    class="home__discover__steps-to-subscribe__title-two"
                    size="large"
                  >
                    Subscribe</ion-text
                  >
                  <ion-text
                    size="small"
                    class="home__discover__steps-to-subscribe__desc"
                    >Select a subscription plan that suits your child's learning
                    needs and preferences.
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div>
            <ion-button
              class="home__discover__steps-to-subscribe__subscribe-now"
            >
              Subscribe Now
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
