<div class="home">
  <div class="home__intro-page">
    <div class="home__intro-page__container">
      <ion-title size="large">Logo</ion-title>
      <ion-content>
        <ion-text
          color="white"
          class="home__intro-page__container__intro-title"
        >
          <h1>Discover the magic of our surprise box</h1>
        </ion-text>
        <ion-text
          color="white"
          class="home__intro-page__container__intro-title"
        >
          <p>
            Unleash your child's curiosity with our educational subscription box
            filled with fun and learning.
          </p>
        </ion-text>
      </ion-content>
    </div>
  </div>
</div>
